.root {
  .input {
    margin: 3px 0;
  }
}

.paper {
  padding: 0.7rem 1rem;
  margin-bottom: 0.25rem;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fileInput {
  width: 97%;
  margin: 10px 0;
}

.buttonSubmit {
  margin: 3px 0 5px 0!important;
}