.progress {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}

.container {
  margin-bottom: 1rem;
  padding: 20px;
  border-radius: 15px !important;

  .section {
    border-radius: 20px;
    margin: 10px;
    flex: 1;
    min-width: 35%;

    .tag {
      text-decoration: none;
      color: #757575;
      font-size: 1.1rem;
    }

    .creatBy {
      color: #757575;
      font-size: 0.7rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .name {
      text-decoration: none;
      color: #0277bd;
      font-size: 0.8rem;
    }

    .created {
      color: #757575;
      font-size: 0.7rem;
      display: flex;
      justify-content: flex-end;
    }

    .message {
      min-height: 10vh;
    }
  }

  .media {
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    max-height: 70vh;
  }

  .loadingPaper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    height: 39vh;
  }

  .commentsOuterContainer {
    display: flex;
    justify-content: space-between;
  }

  .commentsInnerContainer {
    height: 200px;
    overflow-y: auto;
    margin-right: 30px;
  }
}

