.buttonComment {
  margin-top: 10px
}

.comment {
  background-color: #f2f2f2;
  padding: 5px;
  min-height: 3rem;
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  border-radius: 0 7px 7px 7px;

  .name {
    color: #0277bd;
    font-size: 0.8rem;
    width: 100%;
  }

  .message {

  }
}

