.border {
  border: solid;
}

.fullHeightCard {
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px !important;
  position: relative;

  .overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;

    .name {
      font-size: 0.8rem;
      color: #bbdefb;
    }

    .created {
      font-size: 0.7rem;
      color: #e0e0e0;
    }
  }

  .overlay2 {
    position: absolute;
    top: 10px;
    right: 0;
    color: white;
  }
}

.grid {
  display: flex;
}

.details {
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
}

.content {
  padding: 5px 10px !important;
  height: 4rem;

  .message {
    font-size: 1rem;
    color: #616161;
  }
}

.title {
  padding: 0 10px;
}

.cardActions {
  padding: 0 16px 8px 16px;
  display: flex;
  justify-content: space-between;
}